<footer class="footer">
    <div class="footer-section-one">
        <div class="footr-section-one-title">
            My social media accounts
        </div>
        <hr>
        <div class="footer-section-one-content">
            <ul class="footer-ul">
                <li class="social-media"><a href="https://www.facebook.com/MarkMaher05"><i
                            class="fa-brands fa-square-facebook"></i> Mark Maher</a></li>
                <li class="social-media"><a href="https://www.instagram.com/markmaher05/?hl=en"><i
                            class="fa-brands fa-square-instagram"></i> @markmaher05</a></li>
                <li class="social-media"><a href="https://github.com/Marco5dev"><i
                            class="fa-brands fa-square-github"></i>
                        Marco5dev</a></li>
            </ul>
        </div>
        <div class="copy-right">
            <p class="copyrights">
                <span>Developer: </span>Mark Maher Ewida
            </p>
        </div>
    </div>
</footer>