<head>
    <!-- meta -->
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- social meta -->
      <meta property="og:title" content=" <%= mytitle %> " />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://knisty.mark-maher.repl.co" />
      <meta property="og:image" content="./images/main-bg.jpg" />
      <meta property="og:description" content="موقع لقصص جميع الاباء البطاركة">
    
    <!-- Google SEO -->
      <meta name="title" content=" <%= mytitle %> " />
      <meta name="type" content="website" />
      <meta name="url" content="https://knisty.mark-maher.repl.co" />
      <meta name="image" content="./images/main-bg.jpg" />
      <meta name="description" content="موقع لقصص جميع الاباء البطاركة">
    
    <!-- css -->
      <link rel="stylesheet" href="/style.css">
    
    <!-- font awsame -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          crossorigin="anonymous" />
    
    <!-- title -->
      <title>
          <%= mytitle %>
      </title>

    <!-- script link -->
      <script defer src="/script.js"></script>
  
    <!-- google ads   -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3293313394679735"
     crossorigin="anonymous"></script>

    <!-- Google search console -->
    <meta name="google-site-verification" content="nX8loo9IWcqnWk7qaz6R-iJoAYdjVkba652yB6JXits" />
    
</head>