<header class="nav">
  <!-- logo -->
  <a href="/">
    <h1 class="logo">كنيستي</h1>
  </a>

  <!-- Nav Bar -->
  <nav class="nav-bar">
    <ul class="nav-ul">
      <li><a href="/" class="navigation"><i class="fa-solid fa-house"></i> الصفحة الرئيسية</a></li>
      <li><a href="/storys" class="navigation"><i class="fa-solid fa-table-cells-large"></i> الاباء البطاركة</a></li>
      <li><a href="/about-me" class="navigation"><i class="fa-solid fa-address-card"></i> من انا ؟</a></li>   
    </ul>
    <button class="openbtn" onclick="openNav()">☰</button>
  </nav>

  <!-- side bar -->
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <ul class="mobile-li">
      <li><a href="/" class="navigation" id="mobile-li"><i class="fa-solid fa-house"></i> الصفحة الرئيسية</a></li>
      <li><a href="/storys" class="navigation" id="mobile-li"><i class="fa-solid fa-table-cells-large"></i> الاباء البطاركة</a></li>
      <li><a href="/about-me" class="navigation" id="mobile-li"><i class="fa-solid fa-address-card"></i> من انا ؟</a></li>
    </ul>
  </div>
</header>