<!DOCTYPE html>
<html lang="ar">
  <!-- head -->
<%- include("./partials/head") %> 

<body>
<!-- header -->
    <%- include("./partials/header") %>
    
    <!-- the fist section -->
    <section class="errpage" id="404">
        <h1 class="text-one">404</h1>
        <h2 class="text-two">sorry can't fint that page <br> it my be deleted or moved to another URL</h2>
    </section>

<!-- footer -->
    <%- include("./partials/footer") %>
    <%- include("./partials/coffe") %>
</body>
</html>