<!DOCTYPE html>
<html lang="ar">
  <!-- head -->
<%- include("./partials/head") %>

<body dir="rtl">
  <!-- header -->
  <%- include("./partials/header") %>

  <section class="about-card">
    <!--Profile card start-->
    <div class="card">
      <div class="card-image">
        <img src="code2.png" alt="">
      </div>
      <div class="profile-image">
        <img src="my-pic.jpg" alt="">
      </div>
      <div class="card-content">
        <h3>Mark Maher</h3>
        <p>i'a Mark Maher Ewida , i have 16 years old, i am Full Stack web Developer , i use MERN Stack always , i'm from Port Said in Egypt , my birthday is 28/6/2006 , i am from St. George's Church in Port Said</p>
      </div>
      <div class="icons">
        <a href="https://www.facebook.com/MarkMaher05" class="fab fa-facebook-f"></a>
        <a href="https://github.com/Marco5dev" class="fab fa-github"></a>
        <a href="https://www.instagram.com/markmaher05/" class="fab fa-instagram"></a>
      </div>
    </div>
    <!--Profile card end-->
  </section>

  <!-- footer -->
  <%- include("./partials/footer") %>
  <%- include("./partials/coffe") %>
</body>
</html>