<!DOCTYPE html>
<html lang="ar">
<!-- head -->
<%- include("./partials/head") %>

  <body dir="rtl">
    <!-- header -->
    <%- include("./partials/header") %>
        <!-- main section -->
        <section class="main" id="main">
          <div class="main-text">
            <div class="main-title-with-image">
              <h2>
                <span>
                  الاباء البطاركة
                </span>
              </h2>
            </div>
            <h3>
              بدا من مارمورقس الرسول
            </h3>
            <a href="/storys" class="main-btn">تصفح قايمة الاباء البطاركة</a>
          </div>
        </section>

      <!-- the second section -->
      <section class="charch" id="charch">
        <div class="section-title">
          <h3>
            <li dir="rtl">
              الكنيسة
            </li>
          </h3>
        </div>
        <div class="content">
          <div class="cards">
            <div class="main-card-content">
              <div class="section-pic">
                <img src="./images/كنيسة-المعلقة.jpg" alt="كنيسة-المعلقة" class="section-img">
              </div>
              <div class="section-content-title">
                <h4 dir="rtl">
                  تاريخ تأسيس الكنيسة
                </h4>
              </div>
              <div class="section-content-topic">
                <p dir="rtl">
                  تأسيس الكنيسة ليس كما يظن البعض أنه يوم البندقسطي (يوم الخمسين، يوم حلول الروح
                  القدس)،
                  ولكن <br>

                  مادامت الكنيسة هي جسم المسيح، والمسيح هو الرأس؛ إذن بدأت الكنيسة المسيحية بميلاد
                  السيد
                  المسيح؛<br>
                  بميلاد الرأس.. ويكون أول المسيحيين أو الإنسانة المسيحية الأولى هي السيدة العذراء
                  مريم،
                  لأنها كما
                  قالت لها أليصابات:<br>
                  "مِنْ أَيْنَ لِي هذَا أَنْ تَأْتِيَ أُمُّ رَبِّي إِلَيَّ؟" (إنجيل لوقا 1:
                  43)، إذًا آمنت أنها أم ربها، <br>
                  فأصبحت عضوًا في الكنيسة المقدسة.. وبعد ذلك بمرور الزمن، أيضًا يوحنا المعمدان آمن
                  وشهد
                  بأن: "هذَا هُوَ الَّذِي قُلْتُ عَنْهُ:<br>
                  إِنَّ الَّذِي يَأْتِي بَعْدِي صَارَ قُدَّامِي، لأَنَّهُ كَانَ قَبْلِي" (إنجيل يوحنا
                  1:
                  15، 27، 30)، ووقت العماد قال له:<br>
                  "أَنَا
                  مُحْتَاجٌ أَنْ أَعْتَمِدَ مِنْكَ" (إنجيل متى 3: 14)، ثم دخل في الإيمان الاثني عشر..
                  ثم
                  السبعون رسولًا (كما في لوقا أصحاح 10)، ثم مجموعة من السيدات الفضليات (لوقا 8).. وكثر
                  عدد
                  الذين يؤمنون به مثل بيت لعازر وأخته مريم ومرثا، وحتى بعد صلبه أو قبل ذلك:<br>
                  نيقوديموس ويوسف الرامي.. وهكذا تكوَّن الأعضاء الأول للكنيسة المسيحية، وظلوا ينمون في
                  العدد. وأصبح من ميزات الكنيسة الأولى، أنها تعمل بالروح القدس -هذه ناحية- وأنها تنمو
                  في
                  العدد -هذه ناحية أخرى- وأنها كثيرة المعجزات -من ناحية ثالثة.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- the third section -->
      <section class="Patriarchs-cards" id="Patriarchs-cards">
        <div class="section-title">
          <h3>
            <li dir="rtl">
              احد الاباء البطاركة
            </li>
          </h3>
        </div>
        <div class="content">

          <div class="cards">
            <div class="section-pic">
              <img src="./images/مارمرقس الرسولزjpg.jpg" alt="مارمرقس الرسول" class="section-img">
            </div>
            <div class="section-content-title">
              <h4 dir="rtl">
                مارمرقس الرسول
              </h4>
            </div>
            <div class="section-content-topic">
              <p dir="rtl">
                * ولد القديس مارمرقس في مدينة القيروان وهي إحدى المدن الخمس الغربية بليبيا في بلدة تدعى
                (ابرياتولس) وذلك من أبوين يهوديين وهما من سبط لاوي.
                <br>
                * اسم والدة ارسطوبولس ووالدته تدعى مريم وهي امرأة تقية ولها مكانة كبيرة في قلوب
                المسيحيين
                القدامى في أورشليم...
                <br>
                * حيث إن بيتها هو الذي أعدا فيه التلميذين الفصح لكي يتناوله السيد المسيح مع تلاميذه وهو
                نفس
                المكان الذي أسس السيد المسيح فيه سر الإفخارستيا في نفس الليلة...
                <br>
              </p>
              <div class="more-btn">
                <a href="/storys/630212a06593a02b0903e8df">المزيد</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- footer -->
      <%- include("./partials/footer") %>
      <%- include("./partials/coffe") %>
      </body>

    </html>